@import url('https://fonts.googleapis.com/css?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost';
}

h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 46px;
    color: rgb(255, 255, 255);
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 15px;
}

p {
    font-size: 31px;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
}

#wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mainSection {
    display: flex;
    position: relative;
}

#navbar {
    z-index: 200;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1.0);
    min-height: 50px;
}

#logo-container {
    background: url(CBXLOGO.svg) no-repeat top left;
    background-size: contain;
    height: 100%;
    width: 55px;
    position: absolute;
    top: 25%;
    left: 5%;
}

#logo-container a {
    width: 100%;
    height: 100%;
}

#link-bar-wrapper a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    padding: 0px 40px;
    transition: 0.2s ease;
}

#link-bar-wrapper a.active,
#link-bar-wrapper a:hover {
    text-decoration: none;
    color: #b4b4b4;
    transition: 0.2s ease;
}

#mainBanner {
    width: 100%;
    height: 80vh;
    background: url(CBXBA.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

#videoPlayer {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-overlay-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-decoration: none;
}

.video-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.video-overlay-button {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    width: 25%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #222;
    margin-top: 2vh;
    transition: 0.1s ease-in;
}

.video-overlay-button:hover {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    width: 25%;
    height: 5vh;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 2vh;
}

#content-section {
    margin-top: 8vh;
    width: 100%;
    height: 100vh;
    background-color: rgb(192, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}