@import url('https://fonts.googleapis.com/css?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost';
}

h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
}

h2 {
    font-size: 46px;
    color: rgb(255, 255, 255);
}

h3 {
    font-weight: 100;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 1.2vw;
    font-weight: 100;
}

h6 {
    font-size: 15px;
}

p {
    font-size: 31px;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}

#wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#mainSection {
    display: flex;
    position: relative;
}

#navbar {
    z-index: 200;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 5, 5, 0.9);
    min-height: 50px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

#logo-container {
    background: url(Images/CBXLOGO.svg) no-repeat top left;
    background-size: contain;
    height: 100%;
    width: 55px;
    position: absolute;
    top: 25%;
    left: 5%;
}

#logo-container a {
    width: 100%;
    height: 100%;
}

#link-bar-wrapper a {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    padding: 0px 40px;
    transition: 0.2s ease;
}

#link-bar-wrapper a.active,
#link-bar-wrapper a:hover {
    text-decoration: none;
    color: #b4b4b4;
    transition: 0.2s ease;
}

#mainBanner {
    width: 100%;
    position: relative;
    background-position: center;
    top: 50px;
}

#waveform {
    height: 100px;
    width: 100px;
}

.TapeBanner {
    height: 75vh;
}

.indexBanner {
    height: 80vh;
}

.TapeBanner {
    background: url(Images/Banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#videoPlayer {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-overlay-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-decoration: none;
}

.video-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.video-overlay-button {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    width: 25%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #222;
    margin-top: 2vh;
    transition: 0.1s ease-in;
}

.video-overlay-button:hover {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    width: 25%;
    height: 5vh;
    background-color: rgb(22, 22, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 2vh;
}

#content-section {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainPage {
    height: 600px;
}

.content-row {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    width: 100%;
    height: auto;
}

.image-link {
    width: 50%;
    height: auto;
    margin-left: 2vh;
    margin-right: 2vh;
    position: relative;
    text-decoration: none;
    color: #222;
}

.content-img {
    max-width: 100%;
    height: auto;
}

.content-text {
    text-align: center;
}

.content-description {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1vh;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.content-acces {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(255, 255, 255);
}

.content-button {
    width: fit-content;
    height: 100%;
    background: rgb(5, 5, 5);
    padding: 1vh;
    transition: 0.35s ease-in-out;
}

.content-button:hover {
    width: fit-content;
    height: 100%;
    color: rgb(235, 235, 235);
    padding: 1vh;
    transition: 0.15s ease-in-out;
    border-radius: 0.5vw;
}

#footer {
    width: 100%;
    height: 300px;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-row {
    width: 80%;
    height: 100%;
    display: flex;
    margin-top: 5vh;
}

.footer-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.footer-desc-logo {
    width: 80px;
    height: 40px;
    background: url(Images/CBXLOGO.svg) no-repeat;
    background-size: contain;
    margin-bottom: 2vh;
}

.footer-list {
    margin-top: 4vh;
    list-style: none;
}

.footer-list a {
    text-decoration: none;
    color: #ffffff;
}

.footer-list a li {
    margin-top: 1vh;
}